<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>选择银行卡</title>
    <style type="text/css"></style>
    <script type="text/javascript" src="../../js/require.js" data-main="../../js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/mobile.ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/ui.min.css" />
    <link rel="stylesheet" type="text/css" href="demo.css" />
    <style type="text/css">

   .bankpopup  .popup-content{height: 100%}
    .bankpopup .bankscroller{ position: fixed; top: .88rem; bottom: 0px; left: 0px;right: 0}
   
    </style>
</head>

<body>
    <div id="app" v-cloak>
       

         <UINavigationBar>
            <div slot="left">
                <a href="demo.html" class="back-link" m-role="cell" m-valign="middle" ><i class="back"></i>返回</a>
            </div>
            <div slot="title">选择银行卡</div>
        </UINavigationBar>

        <UITableView>
             <UITableViewItem type="arrow">
             	<div m-layout="fit" m-role="cell"  @click="choosebank">
             		
             		<div v-if="bankitem" m-layout="fit" m-role="cell" m-valign="middle" > 
             		<div class="bank-logo bank-logo-scale" :class="'bank-'+bankitem.bankvalue"></div>{{bankitem.bankname}}
             	</div>
             <div v-if="!bankitem" m-layout="fit">选择银行卡</div>

             	</div>
             	
            </UITableViewItem> 
        </UITableView>


         <UIPopup v-show="popup" position="right" class="bankpopup">

          <UINavigationBar>
            <div slot="left">
                <span class="back-link" @click="popup=false" >返回</span>
            </div>
            <div slot="title">选择银行卡</div>
        </UINavigationBar>
            <UIScroller  class="bankscroller" >
                
                  <UITableView>
                <UITableViewItem  v-for="item in bankList">
                <UIRadio  position="right" m-layout="fit"  :m-value="item.bankvalue"  v-model="bank"><div class="bank-logo bank-logo-scale" :class="'bank-'+item.bankvalue"></div>{{item.bankname}}</UIRadio>
                </UITableViewItem>
            </UITableView>
               
            </UIScroller>
        </UIPopup>



      
    </div>
</body>

</html>
